@media (max-width: 771px) {
	.tracker__form {
		/* Ustawienie formularza w sekcji dla małych ekranów */
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		width: 100%;
		max-width: 426px; /* Ograniczenie szerokości formularza - optymalnie ~426px */
		margin: 0 auto; /* Wycentrowanie formularza horyzontalnie */
	}

	.tracker__date-input-container,
	.tracker__description-input-container,
	.tracker__select-input-container,
	.tracker__amount-input-container {
		/* Każdy z kontenerów pól formularza na całą szerokość w kolumnie */
		position: relative; /* Upewnij się, że kontenery pól są pozycjonowane standardowo */
		flex: none; /* Nadpisanie właściwości flex (ustawionych dla szerokich ekranów) */
		width: 100%; /* Kontener pola wypełnia 100% dostępnej szerokości */
		margin-right: 0; /* Usunięcie marginesów między polami (przy kolumnowym układzie) */
	}

	.tracker__form-btns-container {
		/* Przystosowanie układu przycisków akcji na małych ekranach */
		display: flex;
		flex-direction: column; /* Ustawienie przycisków jeden pod drugim */
		align-items: stretch; /* Rozciągnięcie przycisków na pełną szerokość kontenera */
		justify-content: center;
		gap: 12px; /* Odstęp między przyciskiem "INPUT" a "CLEAR" */
		width: 100%;
	}

	.tracker__form-submit-btn,
	.tracker__form-reset-btn {
		width: 100%; /* Każdy z przycisków zajmuje 100% szerokości rodzica */
	}
}
