.summary__container {
	display: none;
}

@media (width >= 772px) {
	.summary__container {
		display: block;

		background-color: var(--clr-background);
		border-radius: 18px 18px 18px 0;
		border: 2px solid #ffffff;
		max-width: 230px;
		height: fit-content;
	}

	.summary__table {
		width: 100%;
		table-layout: fixed;
	}

	.summary__title {
		text-align: center;
		padding: 12px 0;
		line-height: 1;
		min-height: 38px;
		border-bottom: 2px solid #ffffff;
	}

	.summary__row th,
	.summary__row td {
		height: 38px;
	}

	.summary__month,
	.summary__amount {
		width: 50%;
		padding: 0 0 0 20px;
		vertical-align: middle;
		border-bottom: 2px solid #ffffff;
	}
	.summary__amount {
		padding: 0 20px 0 0;
		text-align: right;
	}
}

@media (width >= 1280px) {
	.summary__container {
		min-width: 215px;
	}

	.summary__title {
		border-bottom: 4px solid #ffffff;
	}
}
.summary__title {
	font-weight: var(--font-bold);
	font-size: 0.75rem;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #000;
}

.summary__month,
.summary__amount {
	font-weight: var(--font-regular);
	font-size: 0.75rem;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--clr-primary-text);
}
