.tracker__form {
	position: fixed;
	inset: 56px 0 0 0;
	background-color: #ffffff;
	padding: 16px 20px;
	transform: translateX(-105vw);
}
@media (width >= 772px) {
	.tracker__form {
		transform: translateX(0);
		background-color: transparent;
		inset: unset;
		padding: 0;
		position: relative;
		z-index: 1;
		margin-bottom: 48px;
	}
}

@media (max-width: 771px) {
	.tracker__form {
		position: relative;
		top: -30px;
		right: 0;
		bottom: 0;
		left: 370px;
		width: 100%;
	}
}
.tracker__form.is-open {
	transform: translateX(0);
	z-index: 10;
}

.tracker__form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 150px;
	background-color: var(--clr-background);
	border-radius: 0 0 0 105px;
	z-index: -1;
}

.tracker__mobile-back-btn {
	margin-bottom: 16px;
}

.tracker__date-input-container {
	position: absolute;
	top: 16px;
	right: -2px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.tracker__date-input {
	padding-top: 2px;
}

.tracker__date-input::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.tracker__description-input-container {
	position: relative;
}

.tracker__description-input {
	min-height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	border: 2px solid #52555f;
	border-radius: 16px 16px 0 0;
	padding-inline: 20px;
	line-height: 0;
	cursor: text;
}
@media (max-width: 771px) {
	.tracker__description-input {
		width: 100%;
	}
}

.tracker__description-input-container .error {
	position: absolute;
	top: -16px;
	left: 22px;
	white-space: nowrap;
	z-index: 1;
}

.tracker__select-input-container {
	position: relative;
	border: 2px solid #52555f;
	border-radius: 0 0 16px 0;
	margin-top: -2px;
	background-color: var(--clr-background);
	margin-bottom: 32px;
}

/* Input containers */
.tracker__select-input-container .select-control {
	min-height: 44px;
	border-radius: 0 0 16px 0;
	background-color: var(--clr-background);
	box-shadow: none;
	cursor: pointer;
}

.tracker__select-input-container .css-hlgwow {
	padding: 0 10px 0 20px;
}

.tracker__select-input-container .css-1dimb5e-singleValue {
	margin: 0;
}

.tracker__select-input-container .css-1jqq78o-placeholder {
	margin-left: 0;
	margin-right: 0;
}

.tracker__select-input-container .css-1u9des2-indicatorSeparator {
	display: none;
}

.tracker__select-input-container .css-1xc3v61-indicatorContainer,
.tracker__select-input-container .css-15lsz6c-indicatorContainer {
	padding: 8px 15px 8px 0;
}

/* Dropdown menu */
.tracker__select-input-container .css-1nmdiq5-menu {
	margin-top: 1px;
	border: 2px solid #f5f6fb;
	box-shadow: 0 3px 4px 0 rgba(170, 178, 197, 0.4);
}

.tracker__select-input-container .css-qr46ko {
	padding-top: 0;
	padding-bottom: 0;
}

/* Value container */
.tracker__select-input-container .select-option--is-not-selected,
.tracker__select-input-container .select-option--is-selected {
	padding: 8px 19px;
	cursor: pointer;
}

.tracker__select-input-container .select-option--is-selected {
	background-color: var(--clr-background);
}

/* Value container hover/focus state */
.tracker__select-input-container
	.select-option--is-not-selected.css-d7l1ni-option {
	background-color: var(--clr-background);
}

.tracker__select-input-container .error {
	position: absolute;
	bottom: -18px;
	left: 20px;
	white-space: nowrap;
	z-index: 1;
}

.tracker__amount-input-container {
	max-width: 185px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
	border-radius: 16px;
	margin-bottom: 80px;
	position: relative;
}

.tracker__amount-input {
	min-height: 44px;
	max-width: 125px;
	border: 2px solid #52555f;
	padding-inline: 16px;
	text-align: right;
	cursor: text;
}
.tracker__amount-input::-webkit-outer-spin-button,
.tracker__amount-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.tracker__amount-input {
	-moz-appearance: textfield;
}

.tracker__amount-input-container .error {
	position: absolute;
	top: -16px;
	left: 15px;
	white-space: nowrap;
	z-index: 1;
}

.tracker__form-btns-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

.tracker__form-submit-btn,
.tracker__form-reset-btn {
	border-radius: 16px;
	cursor: pointer;
	width: 136px;
	min-height: 44px;
	text-align: center;
	line-height: 0;
	transition: background-color 0.2s ease;
}

.tracker__form-submit-btn {
	background-color: #ff751d;
	box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
}

.tracker__form-reset-btn {
	background-color: var(--clr-background);
	box-shadow: 1px 2px 5px 0 rgba(170, 178, 197, 0.4);
}

.tracker__mobile-back-btn {
	display: none;
}

.tracker__input-container {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 32px;
	max-width: 900px;
	margin-inline: auto;
}
@media (max-width: 771px) {
	.tracker__input-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}
}

.tracker__date-input-container {
	position: static;
	gap: 10px;
	margin-right: 20px;
}

.tracker__description-input-container {
	flex: 39;
}

.tracker__description-input {
	min-height: 44px;
	border-radius: 15px 0 0 0;
}

.tracker__description-input-container .error {
	top: unset;
	bottom: -17px;
}

.tracker__select-input-container {
	flex: 39;
	margin: 0;
	min-height: 44px;
	background-color: #ffffff;
	border-color: var(--clr-background);
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.tracker__select-input-container .select-control {
	background-color: #ffffff;
	border-radius: 0;
}

.tracker__select-input-container .css-qr46ko {
	max-height: 400px;
}

.tracker__amount-input-container {
	flex: 22;
	max-width: unset;
	margin: 0;
	gap: 8px;
	min-height: 44px;
	border-color: var(--clr-background);
	border-radius: 0 16px 16px 0;
	padding-right: 20px;
}

.tracker__amount-input {
	min-height: 40px;
	max-width: unset;
	padding-inline: 0;
	border: none;
	width: 100%;
}

.tracker__amount-input-container .error {
	top: unset;
	bottom: -18px;
	left: min(20px, calc(10px + (20 - 10) * ((100vw - 772px) / (950 - 772))));
}

.tracker__form-submit-btn,
.tracker__form-reset-btn {
	width: 125px;
}

.tracker__form-submit-btn {
	box-shadow: none;
}

.tracker__form-reset-btn {
	background-color: #ffffff;
	border: 2px solid var(--clr-background);
	box-shadow: none;
}

@media (width >= 1280px) {
	.tracker__form {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
		gap: 32px;
		inset: unset;
	}

	.tracker__input-container {
		margin-inline: unset;
		max-width: 1235px;
		margin-bottom: 0;
		flex: 1;
	}

	.tracker__date-input-container {
		margin-right: 12px;
	}

	.tracker__description-input-container {
		flex: 50;
		position: relative;
	}

	.tracker__select-input-container {
		flex: 29;
		position: relative;
		max-height: 44px;
	}

	.tracker__amount-input-container {
		flex: 21;
		padding-right: 16px;
		position: relative;
	}

	.tracker__amount-input-container .error {
		left: min(
			20px,
			calc(12px + (20 - 12) * ((100vw - 1280px) / (1340 - 1280)))
		);
	}

	.tracker__form-submit-btn,
	.tracker__form-reset-btn {
		width: 136px;
	}

	.tracker__form-submit-btn:hover {
		background-color: #f25d07;
	}

	.tracker__form-reset-btn:hover {
		background-color: #f6f7fc;
	}
}

/* Typography */
.tracker__date-input {
	font-weight: var(--font-extra-bold);
	font-size: 1rem;
	letter-spacing: 0.04em;
	color: #52555f;
}

.tracker__description-input,
.tracker__select-input-container .css-1dimb5e-singleValue {
	font-size: 0.75rem;
	font-weight: var(--font-medium);
	letter-spacing: 0.04em;
	color: var(--clr-primary-text);
}

.tracker__description-input::placeholder,
.tracker__select-input-container .css-1jqq78o-placeholder,
.tracker__select-input-container
	.select-option--is-not-selected.css-10wo9uf-option {
	font-size: 0.75rem;
	font-weight: var(--font-regular);
	letter-spacing: 0.02em;
	color: #808080;
}

.tracker__select-input-container .css-1jqq78o-placeholder {
	color: #80808088;
}

.tracker__select-input-container
	.select-option--is-not-selected.css-d7l1ni-option,
.tracker__select-input-container .select-option--is-selected {
	font-weight: var(--font-regular);
	font-size: 0.75rem;
	letter-spacing: 0.02em;
	color: var(--clr-primary-text);
}

.tracker__amount-input {
	font-weight: var(--font-bold);
	font-size: 0.875rem;
	letter-spacing: 0.02em;
	color: #000;
}

.tracker__form-submit-btn,
.tracker__form-reset-btn {
	font-weight: var(--font-bold);
	font-size: 0.75rem;
	letter-spacing: 0.02em;
}

.tracker__form-submit-btn {
	color: #ffffff;
}

.tracker__form-reset-btn {
	color: var(--clr-primary-text);
}

.tracker__form .error {
	font-size: 12px;
	font-weight: var(--font-medium);
	letter-spacing: 0.04em;
	color: red;
}

@media (width >= 772px) {
	.tracker__amount-input {
		font-size: 0.75rem;
		font-weight: var(--font-medium);
		color: var(--clr-primary-text);
	}
	.tracker__amount-input::placeholder {
		font-size: 0.75rem;
		font-weight: var(--font-regular);
		letter-spacing: 0.02em;
		color: #808080;
	}
}
