.data-header__container {
	margin-bottom: 40px;
	position: relative;
}

.data-header__link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-bottom: 32px;
}

.data-header__text {
	line-height: 0;
	padding-top: 5px;
}

.data-header__icon {
	fill: var(--clr-primary-text);
}

@media (width >= 665px) {
	.data-header__container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		margin-top: 15px;
	}

	.data-header__link {
		margin-bottom: 0;
		justify-content: space-between;
	}
}

@media (width >= 772px) {
	.data-header__container {
		margin-top: 0;
		margin-bottom: 60px;
	}
}

@media screen and (min-width: 1280px) {
	.data-header__container {
		position: relative;
		justify-content: center;
		margin-bottom: 8px;
	}

	.data-header__link {
		position: absolute;
		right: 0;
	}
}

.data-header__text {
	color: var(--clr-primary-light);
	font-size: 0.75rem;
	letter-spacing: 0.04em;
}
