.balance__input-container {
	display: flex;
	position: relative;
}

.balance__input {
	width: 140px;
	height: 44px;
	padding: 0 16px;
	border: 2px solid #e0e0e0;
	border-radius: 16px 0 0 16px;
	text-align: right;
	vertical-align: middle;
	cursor: pointer;
}
.balance__input:focus-visible {
	background-color: #ffffff;
	cursor: text;
}

.button-balance {
	height: 44px;
	width: 140px;
	padding: 0 16px;
	border: 2px solid #e0e0e0;
	border-radius: 0 16px 16px 0;
	border-left: none;
	text-align: left;
	cursor: pointer;
}
.button-balance:hover,
.button-balance:focus {
	border-color: var(--clr-accent);
	border-radius: 0 16px 16px 0;
	background-color: var(--clr-accent);
	color: #ffffff;
}
.balance__input_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 44px;
}
.balance__spinner {
	width: 44px;
	height: 44px;
	border: 4px solid transparent;
	border-top-color: var(--clr-accent);
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
	margin: auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (width >= 665px) {
	.balance__container {
		margin-left: 35px;
	}

	.balance__input-container {
		gap: 15px;
	}

	.balance__input,
	.button-balance {
		width: 125px;
		border-radius: 16px;
	}

	.button-balance {
		text-align: center;
		border-left: 2px solid #e0e0e0;
	}
	.button-balance:hover,
	.button-balance:focus {
		border-radius: 16px;
	}
}

@media (width >= 1280px) {
	.balance__container {
		margin-left: 0;
	}
}

/* Typography */
.balance__label {
	font-size: 0.75rem;
	font-weight: var(--font-medium);
	letter-spacing: 0.02em;
	color: var(--clr-primary-light);
}

.balance__input {
	font-size: 0.75rem;
	font-weight: var(--font-bold);
	letter-spacing: 0.02em;
	color: var(--clr-titles);
}

.button-balance {
	font-size: 0.75rem;
	font-weight: var(--font-regular);
	letter-spacing: 0.02em;
	color: var(--clr-primary-light);
}

/* Transitions */
.button-balance {
	transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------------------------------------------------- */

.balance__container {
	pointer-events: none;
}

.balance__input {
	border-radius: 16px;
	text-align: center;
	width: 183px;
}

.button-balance {
	display: none;
}

@media (width >= 772px) {
	.balance__container {
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		margin-left: 0;
	}
	.balance__input {
		width: 125px;
	}
}
