.finance-section {
	background-color: #fff;
	border-radius: 0 30px 30px 30px;
	padding: 32px 32px;
	box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
	display: flex;
	flex-direction: column;
	min-width: 355px;
}
@media (max-width: 771px) {
	.finance-section {
		/* Zapewnij, że sekcja wypełnia całą szerokość ekranu i może się zwężać poniżej 355px */
		min-width: unset; /* Usunięcie minimalnej szerokości 355px dla płynnego dopasowania */
		width: 100%; /* Sekcja zajmuje 100% szerokości ekranu */
		align-items: center; /* Wycentrowanie zawartości sekcji horyzontalnie */
		justify-content: center; /* Wycentrowanie zawartości sekcji pionowo */
	}

	.finance-details {
		/* Na wąskich ekranach tabela i podsumowanie ustawione są jeden pod drugim */
		flex-direction: column; /* Zamiast w wierszu, elementy są w kolumnie */
		width: 100%; /* Kontener szczegółów wypełnia całą szerokość sekcji */
		gap: 20px; /* (Opcjonalnie) zmniejszenie odstępu między elementami dla lepszego wyglądu */
	}
}

.finance-details {
	display: flex;
	gap: 40px;
	/* align-self: flex-start; */
}

@media only screen and (min-width: 772px) and (max-width: 1279px) {
	.finance-section {
		padding: 24px 40px;
		padding-bottom: 60px;
		margin-bottom: 50px;
		min-width: 704px;
		max-height: 724px;
	}

	.finance-details {
		flex-direction: column;
		/* background-image: url(src/assets/images/background-cabbage/cabbage-tablet-bottom.webp); */
		background-repeat: no-repeat;
		background-position: bottom 60px right 56px;
		background-size: 183px;
	}
}
